@{
    ViewBag.Title = "hajj";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- TITLE -->
    <title>Gofar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lib/awe-booking-font.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/lib/jquery-ui.css">
    <script type="text/javascript" src="~/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/demo.css">

    <!-- CSS COLOR -->
    <link id="colorreplace" rel="stylesheet" type="text/css" href="~/Content/css/colors/blue.css">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    
    <style>
        input {
            border-radius: 5px;
            margin-bottom: 2%;
            width: 100%;
            color: #a09595;
            transition: 0.25s;
        }

            input:focus {
                background-color: #bff8c6;
            }

        textarea {
            border-radius: 5px;
            margin-bottom: 2%;
            width: 100%;
        }

        select {
            border-radius: 5px;
            margin-bottom: 2%;
        }

        label {
            color: white;
            display: table-cell;
        }

        [type=radio] {
            display: table-cell;
            color: white;
            float: left;
        }

        b
        {
            width: 25%;
        }

        [type=submit] {
            color: white;
        }
    </style>

</head>

<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body onload="oyes('gold,hajj')">
    <script>
       
        function oyes(id)
        {
            
            var xmlhttp2;
            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
                xmlhttp2 = new XMLHttpRequest();
            }
            xmlhttp2.open("GET", "../Home/function?textName="+ id, true);
            xmlhttp2.send();

            xmlhttp2.onreadystatechange = function () {
                if (xmlhttp2.readyState == 4 && xmlhttp2.status == 200) {

                    response1 = xmlhttp2.responseText;

                }
                document.getElementById(id).innerHTML = response1;

            }
        }
    </script>
    

    <!--<![endif]-->
    <!-- PAGE WRAP -->
    <div id="page-wrap">
        <!-- PRELOADER -->
        <div class="preloader"></div>
        <!-- END / PRELOADER -->
        <!-- HEADER PAGE -->
        @Html.Partial("_header")
        <script>
            var xtmp = document.getElementById("menuh");
            xtmp.className += ' current-menu-parent';
        </script>
        <!-- END / HEADER PAGE -->
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><span>Hajj and Umrah</span></li>
                </ul>
            </div>
        </div>
        <section style="margin-top: 5%; background-color: black">
            <div class="container">
                <div class="awe-search-tabs tabs">
                    <ul>
                        <li>
                            <a href="#gold,hajj" onclick="return oyes('gold,hajj');" style="background-color: #0091ea">
                                <i class="awe-icon " style="background-image: url('../../Images/gold.png'); background-size:cover"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#silver,hajj" onclick="return oyes('silver,hajj');" style="background-color: #0091ea">
                                <i class="awe-icon" style="background-image: url('../../Images/silver.png'); background-size:cover"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#bronze,hajj" onclick="return oyes('bronze,hajj');" style="background-color: #0091ea">
                                <i class="awe-icon" style="background-image: url('../../Images/bronze.png'); background-size:cover"></i>
                            </a>
                        </li>
                        <li>
                            <b style="color:white">Hajj Packages</b>
                        </li>


                        <li style="float: right">
                            <a href="#bronze,umrah" onclick="return oyes('bronze,umrah');" style="background-color: #0091ea">
                                <i class="awe-icon" style="background-image: url('../../Images/bronze.png'); background-size:cover"></i>
                            </a>
                        </li>
                        <li style="float:right">
                            <a href="#silver,umrah" onclick="return oyes('silver,umrah');" style="background-color: #0091ea">
                                <i class="awe-icon" style="background-image: url('../../Images/silver.png'); background-size:cover"></i>
                            </a>
                        </li>
                        <li style="float:right">
                            <a href="#gold,umrah" onclick="return oyes('gold,umrah');" style="background-color: #0091ea">
                                <i class="awe-icon " style="background-image: url('../../Images/gold.png'); background-size:cover"></i>
                            </a>
                        </li>

                        <li style="float:right">
                            <b style="color:white">Umrah Packages</b>
                        </li>
                    </ul>
                    <div class="awe-search-tabs__content tabs__content">
                       

                        <div id="gold,hajj" class="search-flight-hotel">
                            
                            
                        </div>
                        <div id="silver,hajj" class="search-hotel">
                            
                        </div>
                        <div id="bronze,hajj" class="search-flight">
                            
                        </div>
                        <div id="gold,umrah" class="search-flight-hotel">
                            
                        </div>
                                
                        <div id="silver,umrah" class="search-hotel">
                            
                        </div>
                        <div id="bronze,umrah" class="search-flight">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="color: white;background-color:#ada3a3; background-image: url('../../Images/hajjbg2.jpg'); background-repeat:no-repeat; background-position:center; background-size:cover">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="contact-page__form" >
                            <div class="title">
                                <span style="color:white">We need some information</span>
                                <h2>Hajj Umrah Form</h2>
                            </div>
                            <div class="descriptions">
                                <p style="color:white">Please be accurate when entering information, thank you</p>
                            </div>
                            <form class="formh" action="~/Home/saverequest" method="post">
                                <div class="form-item col-md-6">
                                    Name <input type="text" id="hname" value="@Session["hname"]" name="name" required>
                                </div>
                                <div class="form-item col-md-6">
                                    Email <input type="email" value="@Session["hemail"]" name="hhemail" required>
                                </div>
                                <div class="form-textarea-wrapper col-md-12">
                                    <textarea name="address" required>Address</textarea>
                                </div>
                                <div class="form-item col-md-12">
                                    City <input type="text" value="@Session["hcity"]" name="hhcity" required>
                                </div>
                                <div class="form-item col-md-12" style="margin-bottom: 2%;">
                                    Country<br/>
                                    <select name="country">
                                        <option value="">Country...</option>
                                        <option value="Afghanistan">Afghanistan</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bonaire">Bonaire</option>
                                        <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                        <option value="Brunei">Brunei</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Canary Islands">Canary Islands</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Channel Islands">Channel Islands</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China">China</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos Island">Cocos Island</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo">Congo</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Cote DIvoire">Cote D'Ivoire</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Cuba">Cuba</option>
                                        <option value="Curaco">Curacao</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="East Timor">East Timor</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands">Falkland Islands</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="French Polynesia">French Polynesia</option>
                                        <option value="French Southern Ter">French Southern Ter</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia">Gambia</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Great Britain">Great Britain</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe">Guadeloupe</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="India">India</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="Iran">Iran</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Isle of Man">Isle of Man</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Korea North">Korea North</option>
                                        <option value="Korea Sout">Korea South</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Laos">Laos</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libya">Libya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macau">Macau</option>
                                        <option value="Macedonia">Macedonia</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique">Martinique</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Midway Islands">Midway Islands</option>
                                        <option value="Moldova">Moldova</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Nambia">Nambia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherland Antilles">Netherland Antilles</option>
                                        <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                        <option value="Nevis">Nevis</option>
                                        <option value="New Caledonia">New Caledonia</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau Island">Palau Island</option>
                                        <option value="Palestine">Palestine</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Phillipines">Philippines</option>
                                        <option value="Pitcairn Island">Pitcairn Island</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Republic of Montenegro">Republic of Montenegro</option>
                                        <option value="Republic of Serbia">Republic of Serbia</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russia">Russia</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="St Barthelemy">St Barthelemy</option>
                                        <option value="St Eustatius">St Eustatius</option>
                                        <option value="St Helena">St Helena</option>
                                        <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                        <option value="St Lucia">St Lucia</option>
                                        <option value="St Maarten">St Maarten</option>
                                        <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                                        <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                                        <option value="Saipan">Saipan</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="Samoa American">Samoa American</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Serbia">Serbia</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Sudan">Sudan</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Syria">Syria</option>
                                        <option value="Tahiti">Tahiti</option>
                                        <option value="Taiwan">Taiwan</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania">Tanzania</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Erimates">United Arab Emirates</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States of America">United States of America</option>
                                        <option value="Uraguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Vatican City State">Vatican City State</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Vietnam">Vietnam</option>
                                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                        <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                        <option value="Wake Island">Wake Island</option>
                                        <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zaire">Zaire</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>
                                </div>
                                <div class="form-item col-md-12" style="margin-bottom: 2%;color: white">
                                    <b style="float:left">Hajj</b>&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <input class="col-md-6" type="radio" value="hajj" name="type"><br />
                                    <b style="float:left">Umrah</b>
                                    <input class="col-md-6" type="radio" value="umrah" name="type">
                                </div>
                                <div class="form-item col-md-6">
                                    Phone Resident <input type="text" value="Phone# Res *" name="phone" required>
                                </div>
                                <div class="form-item col-md-6">
                                    Cell Number <input type="text" value="@Session["hcellno"]" name="cell" required>
                                </div>
                                <div class="form-item col-md-12">
                                    <input type="text" value="Best time to contact you" name="time" required>
                                </div>
                                <div class="form-item col-md-3">
                                    <label>No. of people</label>
                                    <select name="people">
                                        <option value="null">Select..</option>
                                        <option value="1" selected>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">More than 10</option>
                                    </select>
                                </div>
                                <div class="form-item col-md-3">
                                    <label>No. of adults</label>
                                    <select name="adults">
                                        <option id="a0" value="null">Select..</option>
                                        <option id="a1" value="1" selected>1</option>
                                        <option id="a2" value="2">2</option>
                                        <option id="a3" value="3">3</option>
                                        <option id="a4" value="4">4</option>
                                        <option id="a5" value="5">5</option>
                                        <option id="a6" value="6">6</option>
                                        <option id="a7" value="7">7</option>
                                        <option id="a8" value="8">8</option>
                                        <option id="a9" value="9">9</option>
                                        <option id="a10" value="10">10</option>
                                        <option id="a11" value="11">More than 10</option>
                                        <script>
                                            document.getElementById('a'+'@Session["hadults"]').selected = true;
                                        </script>
                                    </select>

                                </div>
                                <div class="form-item col-md-3">
                                    <label>No. of kids</label>
                                    <select name="kids">
                                        <option id="k0" value="null">Select..</option>
                                        <option id="k1" value="1">1</option>
                                        <option id="k2" value="2">2</option>
                                        <option id="k3" value="3">3</option>
                                        <option id="k4" value="4">4</option>
                                        <option id="k5" value="5">5</option>
                                        <option id="k6" value="6">6</option>
                                        <option id="k7" value="7">7</option>
                                        <option id="k8" value="8">8</option>
                                        <option id="k9" value="9">9</option>
                                        <option id="k10" value="10">10</option>
                                        <option id="k11" value="11">More than 10</option>
                                        <script>
                                            document.getElementById('k'+'@Session["hkids"]').selected = true;
                                        </script>
                                    </select>
                                </div>
                                <!--(Space for Package)-->
                                <div class="form-item col-md-12" style="margin-bottom: 5%;">

                                </div>
                                <div class="form-item col-md-6">
                                    <input type="text" value="Print Name" name="pname" required>
                                </div>
                                <div class="form-item col-md-6">
                                    <input type="text" name="date" class="awe-calendar" placeholder="Date" style="color:grey"><br><br>
                                </div>
                                <div class="form-item col-md-12" style="margin-bottom: 2%;">
                                    <h3 style="color:#ada3a3">Any package you want?</h3><h5 style="color:white">
                                        <b style="float:left;">Gold</b>&nbsp&nbsp&nbsp&nbsp&nbsp
                                        <input class="col-md-4" type="radio" value="gold" name="pkg"><br />
                                        <b style="float:left">Silver</b>
                                        <input class="col-md-4" type="radio" value="silver" name="pkg"><br />
                                        <b style="float:left">Bronze</b>
                                        <input class="col-md-4" type="radio" value="bronze" name="pkg"><br />
                                        <b style="float:left">No thanks</b>
                                        <input class="col-md-4" type="radio" value="bronze" name="pkg" checked>
                                    </h5>
                                </div>
                                <div class="form-actions col-md-12">
                                    <br/>
                                    <b><input type="submit" value="SEND" class="submit-contact"  style="color: white; padding: 1.5% 2% 1.5% 2%; width:20%; margin-bottom: 15%;"></b>
                                </div>
                                <div id="contact-content"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- FOOTER PAGE -->
        @Html.Partial("_footer")
        <!-- END / FOOTER PAGE -->

    </div>
    <!-- END / PAGE WRAP -->
    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="~/Content/js/lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/jquery.owl.carousel.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/theia-sticky-sidebar.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3"></script>
    <script type="text/javascript" src="~/Content/js/lib/md-map-extend.js"></script>
    <script type='text/javascript' src="~/Content/js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Content/js/scripts.js"></script>

    <!-- CONTACT FORM -->
    <script type="text/javascript" src="~/Content/js/lib/jquery.form.min.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/jquery.validate.min.js"></script>

</body>
</html>
